{% autoescape on %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    </head>
    <body>
        {% block content %}{% endblock %}
        <script type="text/javascript" src="/static/bower_components/underscore/underscore-min.js"></script>
        <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>
    </body>
</html>
{% endautoescape %}